ofertas-secundarias/src/main/resources/static/wsdl/MTH_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NotificaConsultaSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelOrigen" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelDestino" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MensajeSMS" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificaConsultaSMSResponse">
        <s:complexType/>
      </s:element>
      <s:element name="EnvioSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelOrigen" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelDestino" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MensajeSMS" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioSMSResponse">
        <s:complexType/>
      </s:element>
      <s:element name="OperacionMTH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperacionMTHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperacionMTHResult" type="tns:MTHResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MTHResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="secondaryOfferId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="secondaryOfferName" type="s:string"/>
		  <s:element minOccurs="0" maxOccurs="1" name="secondaryOfferPrice" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="MTHResponse" nillable="true" type="tns:MTHResponse"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotificaConsultaSMSSoapIn">
    <wsdl:part name="parameters" element="tns:NotificaConsultaSMS"/>
  </wsdl:message>
  <wsdl:message name="NotificaConsultaSMSSoapOut">
    <wsdl:part name="parameters" element="tns:NotificaConsultaSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="EnvioSMSSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioSMS"/>
  </wsdl:message>
  <wsdl:message name="EnvioSMSSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="OperacionMTHSoapIn">
    <wsdl:part name="parameters" element="tns:OperacionMTH"/>
  </wsdl:message>
  <wsdl:message name="OperacionMTHSoapOut">
    <wsdl:part name="parameters" element="tns:OperacionMTHResponse"/>
  </wsdl:message>
  <wsdl:message name="NotificaConsultaSMSHttpGetIn">
    <wsdl:part name="Login" type="s:string"/>
    <wsdl:part name="Password" type="s:string"/>
    <wsdl:part name="TelOrigen" type="s:string"/>
    <wsdl:part name="TelDestino" type="s:string"/>
    <wsdl:part name="MensajeSMS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="NotificaConsultaSMSHttpGetOut"/>
  <wsdl:message name="EnvioSMSHttpGetIn">
    <wsdl:part name="Login" type="s:string"/>
    <wsdl:part name="Password" type="s:string"/>
    <wsdl:part name="TelOrigen" type="s:string"/>
    <wsdl:part name="TelDestino" type="s:string"/>
    <wsdl:part name="MensajeSMS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EnvioSMSHttpGetOut"/>
  <wsdl:message name="OperacionMTHHttpGetIn">
    <wsdl:part name="dni" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OperacionMTHHttpGetOut">
    <wsdl:part name="Body" element="tns:MTHResponse"/>
  </wsdl:message>
  <wsdl:message name="NotificaConsultaSMSHttpPostIn">
    <wsdl:part name="Login" type="s:string"/>
    <wsdl:part name="Password" type="s:string"/>
    <wsdl:part name="TelOrigen" type="s:string"/>
    <wsdl:part name="TelDestino" type="s:string"/>
    <wsdl:part name="MensajeSMS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="NotificaConsultaSMSHttpPostOut"/>
  <wsdl:message name="EnvioSMSHttpPostIn">
    <wsdl:part name="Login" type="s:string"/>
    <wsdl:part name="Password" type="s:string"/>
    <wsdl:part name="TelOrigen" type="s:string"/>
    <wsdl:part name="TelDestino" type="s:string"/>
    <wsdl:part name="MensajeSMS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EnvioSMSHttpPostOut"/>
  <wsdl:message name="OperacionMTHHttpPostIn">
    <wsdl:part name="dni" type="s:string"/>
    <wsdl:part name="to" type="s:string"/>
    <wsdl:part name="text" type="s:string"/>
    <wsdl:part name="source" type="s:string"/>
    <wsdl:part name="user" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OperacionMTHHttpPostOut">
    <wsdl:part name="Body" element="tns:MTHResponse"/>
  </wsdl:message>
  <wsdl:portType name="MTHSoap">
    <wsdl:operation name="NotificaConsultaSMS">
      <wsdl:input message="tns:NotificaConsultaSMSSoapIn"/>
      <wsdl:output message="tns:NotificaConsultaSMSSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <wsdl:input message="tns:EnvioSMSSoapIn"/>
      <wsdl:output message="tns:EnvioSMSSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <wsdl:input message="tns:OperacionMTHSoapIn"/>
      <wsdl:output message="tns:OperacionMTHSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MTHHttpGet">
    <wsdl:operation name="NotificaConsultaSMS">
      <wsdl:input message="tns:NotificaConsultaSMSHttpGetIn"/>
      <wsdl:output message="tns:NotificaConsultaSMSHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <wsdl:input message="tns:EnvioSMSHttpGetIn"/>
      <wsdl:output message="tns:EnvioSMSHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <wsdl:input message="tns:OperacionMTHHttpGetIn"/>
      <wsdl:output message="tns:OperacionMTHHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MTHHttpPost">
    <wsdl:operation name="NotificaConsultaSMS">
      <wsdl:input message="tns:NotificaConsultaSMSHttpPostIn"/>
      <wsdl:output message="tns:NotificaConsultaSMSHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <wsdl:input message="tns:EnvioSMSHttpPostIn"/>
      <wsdl:output message="tns:EnvioSMSHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <wsdl:input message="tns:OperacionMTHHttpPostIn"/>
      <wsdl:output message="tns:OperacionMTHHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MTHSoap" type="tns:MTHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificaConsultaSMS">
      <soap:operation soapAction="http://tempuri.org/NotificaConsultaSMS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <soap:operation soapAction="http://tempuri.org/EnvioSMS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <soap:operation soapAction="http://tempuri.org/OperacionMTH" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MTHSoap12" type="tns:MTHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificaConsultaSMS">
      <soap12:operation soapAction="http://tempuri.org/NotificaConsultaSMS" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <soap12:operation soapAction="http://tempuri.org/EnvioSMS" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <soap12:operation soapAction="http://tempuri.org/OperacionMTH" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MTHHttpGet" type="tns:MTHHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="NotificaConsultaSMS">
      <http:operation location="/NotificaConsultaSMS"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output/>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <http:operation location="/EnvioSMS"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output/>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <http:operation location="/OperacionMTH"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MTHHttpPost" type="tns:MTHHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="NotificaConsultaSMS">
      <http:operation location="/NotificaConsultaSMS"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output/>
    </wsdl:operation>
    <wsdl:operation name="EnvioSMS">
      <http:operation location="/EnvioSMS"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output/>
    </wsdl:operation>
    <wsdl:operation name="OperacionMTH">
      <http:operation location="/OperacionMTH"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MTH">
    <wsdl:port name="MTHSoap" binding="tns:MTHSoap">
      <soap:address location="http://prodsweb07/WSMTH/MTH.asmx"/>
    </wsdl:port>
    <wsdl:port name="MTHSoap12" binding="tns:MTHSoap12">
      <soap12:address location="http://prodsweb07/WSMTH/MTH.asmx"/>
    </wsdl:port>
    <wsdl:port name="MTHHttpGet" binding="tns:MTHHttpGet">
      <http:address location="http://prodsweb07/WSMTH/MTH.asmx"/>
    </wsdl:port>
    <wsdl:port name="MTHHttpPost" binding="tns:MTHHttpPost">
      <http:address location="http://prodsweb07/WSMTH/MTH.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>